p {
    text-align: center;  
    color: #21262d;
}
body {
    background: #a2d2fb;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
   color: #161b22;
}
.about {
    text-align: center;
    color: #21262d;
}
.projects{ display:flex; flex-wrap:wrap; }
.projects{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%;
}
.left {
    text-align: left;
}
.green {
    color: #161b22;
}
.attention {
    font-weight: bold;
}